<ion-view>
    <div class="bar bar-assertive bar-subheader" style="margin:{{ isAndroid ? 0 : 20 }}px auto 20px;">
        <h2 class="title">{{"roundThreeName" | translate}}</h2>
    </div>
    <ion-content class="has-header has-subheader padding-top">
        <ul class="row" id="resources">
            <li><img ng-src="img/personal.png"></li>
            <li>
                <p>{{departmentResources.personnel}}</p>
            </li>
            <li><img ng-src="img/capital.png"></li>
            <li>
                <p>{{departmentResources.money}}</p>
            </li>
        </ul>
        <div ng-if="!!date" style="text-align:center; margin: 10px auto; font-size:30px">{{('0' + date.getMinutes()).slice(-2)}}:{{('0' + date.getSeconds()).slice(-2)}}</div>

            <button class="button button-block button-positive icon-left ion-social-euro" ng-click="buyStrategy()">{{ "buyStrategy" | translate}}</button>
            <button class="button button-block button-calm icon-left ion-social-euro" ng-click="buyCompetence()">{{ "buyCompetence" | translate}}</button>
            <button class="button button-block button-energized icon-left ion-pie-graph" ui-sref="app.strategies">{{ "strategyOverview" | translate}}</button>
            <button class="button button-block button-positive icon-left ion-stats-bars" ui-sref="app.competences">{{ "competenceCardsOverview" | translate}}</button>
            <button class="button button-block button-balanced icon-left ion-android-hand" ui-sref="app.boughtStrategies">{{ "showNewBoughtStrategies" | translate}} <span class="badge badge-stable">{{pickupNewCards}}</span></button>
            <button class="button button-block button-royal icon-left ion-information-circled" ui-sref="app.information">{{ "information" | translate}}</button>

    </ion-content>
</ion-view>
